<%- include('partials/header') %>

<h1>hola mundo</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium blanditiis officia, repellat aspernatur aliquam soluta, nostrum alias magnam cum dolore unde vero tenetur adipisci cumque laboriosam nesciunt, eligendi ducimus ipsa.
Architecto voluptate sint aliquid tempore minima quas ullam sapiente culpa exercitationem accusamus officiis corporis numquam expedita earum, veniam enim aut nesciunt, beatae soluta tempora perspiciatis modi. Aut itaque repellendus laborum?
Natus est ut esse molestiae ullam, corporis eveniet aliquam dolorem quaerat libero veniam! Iusto maxime odit, dignissimos aspernatur blanditiis deserunt adipisci, impedit id praesentium velit voluptate voluptatem neque vel quidem.</p>



<%- include('partials/footer.ejs') %>